
<div id = "about" class="cvitae-section cvitae-about-me ">
  <div class="cvitae-container">    
    <!--h3 class="cvitae-section-title">About me</h3-->

    <div class="cvitae-section-content">
      <div class="content-left short-bio">
        <div class="pic">
          <img class="img-responsive" src="assets/img/profile_image.jpg" alt="Bio Pic">
        </div>
        <p>
          Advanced web developer with 12 years of experience in structuring, 
          developing &amp; implementing interactive website with the best 
          use of technology &amp; SEO to drive traffic.
        </p>
      </div>

      <div class="content-right about">
        <h3 class="cvitae-section-title">
          About Me
        </h3>
        <p class="info">
          <span class="field-title">Full Name</span> 
          <span class="field-separator">:</span> 
          <span id="full-name" class="field-value" [innerHTML]="fullName"></span>
        </p>

        <p class="info">
          <span class="field-title">Address</span> 
          <span class="field-separator">:</span> 
          <span id = "address" class="field-value" [innerHTML] = "address" ></span>
        </p>

        <p class="info">
            <span class="field-title">Address</span> 
            <span class="field-separator">:</span> 
            <span id = "country" class="field-value" [innerHTML] = "country" ></span>
        </p>
      </div><!--end of content-right about-->
      <div class="links">
        <a 
          download="dummy-resume.txt" 
          onclick="Materialize.toast('Resume Download Successfully', 4000, 'rounded')" 
          href="dummy-resume.txt" class="tooltipped" data-position="left" 
          data-delay="50" data-tooltip="Download this Resume" 
          data-tooltip-id="a2270d6e-7242-a8e3-653b-74d68f171123">
          <span class="ti-download"></span>Download Resume
        </a>
      </div>
    </div><!--end of cvitae-section-content-->
  </div><!--end of cvitae-container-->
</div><!--end of id="about" cvitae-section-->