<div class="row" id="about-container">
  <div class="col s12">    
      <div class="row z-depth-1" id="about-wrapper">
        <div class="col s5" id="about-image">
          <div class="card large z-depth-0">
            <div class="card-image">
              <img src="../../assets/img/profile_image.jpg" alt="">
              <span class="card-title">Anh Khoa</span>
            </div><!--end of card-image-->
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                In, voluptatum soluta aspernatur quod quaerat saepe accusamus ducimus dolore commodi, rem.
              </p>
            </div>
          </div><!--end of card large-->
        </div><!--end of about-image-->
        <div class="col s6" id="about-details">
          <div class="row">
            <ul class="collection">
              <li class="collection-item avatar">
                <i class="material-icons small">account_circle</i>
                <span class="title" style="padding: 0; margin: -10px 0 0 5px;">
                  Full name
                </span>   
                <p>
                  {{fullName}}
                </p>          
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                  <i class="material-icons small">location_on</i>
                  <span class="title">
                    Address
                  </span>   
                  <p>
                    {{address}}
                  </p>          
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons small">markunread_mailbox</i>
                  <span class="title">
                    Zip
                  </span>   
                  <p>
                    {{zipCode}}
                  </p>          
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons small">location_city</i>
                    <span class="title">
                      Country
                    </span>   
                    <p>
                      {{country}}
                    </p>          
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                  </li>
                <li class="collection-item avatar">
                  <i class="material-icons small">phone_iphone</i>
                  <span class="title">
                    Phone
                  </span>   
                  <p>
                    {{address}}
                  </p>          
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons small">email</i>
                    <span class="title">
                      Email
                    </span>   
                    <p>
                      {{email}}
                    </p>          
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                  </li>
            </ul>            
          </div>
        </div><!--end of about-details-->
      </div><!--end of about-wrapper-->    
  </div>
</div><!--end of about-container-->