<div class="row content-section" id="about-section">
  <div class="col s12 section-wrapper">    
      <div class="row z-depth-1" id="about-wrapper">
        <div class="col s12 m4" id="about-image">
          <div class="card large z-depth-0">
            <div class="card-image">
              <img src="../../assets/img/profile_image.jpg" alt="">
              <span class="card-title">Anh Khoa</span>
            </div><!--end of card-image-->
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                In, voluptatum soluta aspernatur quod quaerat saepe accusamus ducimus dolore commodi, rem.
              </p>
            </div>
          </div><!--end of card large-->
        </div><!--end of about-image-->
        <div class="col s12 m7" id="about-details">
          <h3 class="section-title">
            About me
          </h3>
          <div class="row" 
            style="margin-bottom: 0; padding-bottom:0;">            
            <ul class="collection col s12 m11">
              <li class="collection-item avatar">
                <i class="material-icons small grey-text">account_circle</i>
                <span class="title" style="padding: 0; margin: -10px 0 0 5px;">
                  Full name
                </span>   
                <p>
                  {{fullName}}
                </p>          
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                  <i class="material-icons small grey-text">location_on</i>
                  <span class="title">
                    Address
                  </span>   
                  <p>
                    {{address + ", " + country + ". zip: " + zipCode}}
                  </p>          
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>                               
                <li class="collection-item avatar">
                  <i class="material-icons small grey-text">phone_iphone</i>
                  <span class="title">
                    Phone
                  </span>   
                  <p>
                    {{phone}}
                  </p>          
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons small grey-text">email</i>
                    <span class="title">
                      Email
                    </span>   
                    <p>
                      {{email}}
                    </p>          
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                  </li>
            </ul>            
          </div>
        </div><!--end of about-details-->
        <div class="col s12 m1" id="about-social"> 
          <div class=" row" style="margin-bottom: 0px;">                          
            <ul class="collection" style="margin-top: 0;">
            
              <li class="col s2 m12 collection-item avatar tooltipped" onclick="Materialize.toast('Successfully downloaed resume', 4000, 'rounded')"
                data-position="left" data-tooltip="Download resume"
              >      
                <a href="/dummy_resume.txt">
                  <span class="ti-download grey-text"></span>                                                                                        
                </a>
              </li>        
              <li class="col s2 m12 collection-item avatar tooltipped" data-position="left" data-tooltip="Fork me on github">      
                  <a href="#">                  
                    <span class="ti-github grey-text"></span>                                              
                  </a>                        
              </li>   
              <li class="col s2 m12 collection-item avatar tooltipped" data-position="left" data-tooltip="Follow on linkedin">      
                  <a href="#">                  
                    <span class="ti-linkedin grey-text"></span>                                              
                  </a>                        
              </li>   
              <li class="col s2 m12 collection-item avatar tooltipped" data-position="left" data-tooltip="Follow on twitter">      
                  <a href="#">                  
                    <span class="ti-twitter grey-text"></span>                                              
                  </a>                        
              </li>   
              <li class="col s2 m12 collection-item avatar tooltipped" data-position="left" data-tooltip="Follow on facebook">      
                  <a href="#">                  
                    <span class="ti-facebook grey-text"></span>                                              
                  </a>                        
              </li>   
              <li class="col s2 m12 collection-item avatar tooltipped" data-position="left" data-tooltip="Connect with me on skype"
                style="border:none;"
              >      
                  <a href="#">                  
                    <span class="ti-skype grey-text"></span>                                              
                  </a>                        
              </li>          
            
            </ul>              
          </div>  
        </div><!--end of about-social-->
      </div><!--end of about-wrapper-->    
  </div>
</div><!--end of about-container-->