.collection {
    float: right;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 6px;
    margin: 0;
    color: #bdbdbd;
    border-bottom: 1px solid #eeeeee;
}

.progress-bar-container {
    border: none !important;    
}

.progress-title {
    color: #747474;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: capitalize;
    top: 1px;
    margin-left: 45px;
}

.progress-bar-wrapper-layout {
    width:68% !important;
    margin-left: 39px !important;
}

.progress-bar {
    height: 15px; 
    padding-top: 0px;
    background: #eeeeee; 
    margin-top:31px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.progress {
    height: 15px;
    width: 0px;
    background-color: #e0e0e0;     
}

@media only screen and (max-width: 767px) {        
    .collection .collection-item {        
       /*background-color: #fff;
        line-height: 1.5rem;*/
        padding: 10px 0px;
        /*margin: 0;
        color: #bdbdbd;
        border-bottom: 1px solid #eeeeee;*/
    }
}