#skills-rate {
    margin-top: 18px;
    margin-bottom: 13px;
}

.collection {
    float: right;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 16px 6px;
    margin: 0;
    color: #bdbdbd;
    border-bottom: 1px solid #eeeeee;
}

.collection .collection-item:last-child {
    border-bottom: none !important;
}

.progress-bar-container {
    border: none !important;    
    margin-bottom: -35px !important;
}

.progress-title {
    color: #747474;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: capitalize;
    top: 1px;
    margin-left: 45px;
}

.progress-bar-wrapper-layout {
    width:68% !important;
    margin-left: 39px !important;
}

.progress-bar {
    height: 18px; 
    padding-top: 0px;    
    background: #eeeeee; 
    margin-top:31px;    
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 25px 0 50px 25px;
}

.progress {    
    position: relative;
    /*height: auto;*/
    height: 18px;
    margin-bottom: 0;
    width: 0px;    
    background-color: #e0e0e0;      
    border-radius: 25px 0 50px 25px;   
}

@media only screen and (max-width: 767px) {        
    .progress-bar-container {        
        margin-bottom: -25px !important;
    }
    .collection .collection-item {               
        padding: 10px 0px;       
    }
    .progress-bar-wrapper-layout[_ngcontent-c2] {       
        margin-top: -27px;
    }
    .section-left-col {  
        border-right: none;      
        margin-bottom: -64px;
    }
}