.collection {
    float: right;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 6px;
    margin: 0;
    color: #bdbdbd;
    border-bottom: 1px solid #eeeeee;
}

.progress-title {
    color: #747474;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 1px;
}

.progress {
    height: 10px; 
    background: #eeeeee; 
    margin-top:31px;
}

@media only screen and (max-width: 767px) {        
    .collection .collection-item {        
       /*background-color: #fff;
        line-height: 1.5rem;*/
        padding: 10px 0px;
        /*margin: 0;
        color: #bdbdbd;
        border-bottom: 1px solid #eeeeee;*/
    }
}