body {
    padding: 20px 5% 0 5%;
}

#about-social ul li {
    padding: 0; 
    text-align:center; 
    padding-top:30px;     
}

#about-social ul li a span {
    font-size: 20px;
}

@media only screen and (max-width: 767px) {
    /*#about-image, #about-details, #about-social {
        width : 100%;
    }*/
    /*#about-social ul {
        display: block;
    }
    #about-social ul li {
        display: table-cell;
        width: 50px;
        border-right: 1px solid grey;
    }*/
    #about-image {
        display: inline-block;
    }

}