body {
    padding: 20px 5% 0 5%;
}

#about-social ul li {
    padding: 0; 
    text-align:center; 
    padding-top:30px;     
}

#about-social ul li a span {
    font-size: 20px;
}

@media only screen and (max-width: 767px) {
    #about-image {
        height: 350px;
    }

    #about-social ul {
        margin-bottom: 0;
    }

    #about-social ul li {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
        border-right: 1px solid #e0e0e0  ;
    }
    #about-image {
        display: inline-block;
    }

}