#achievements {
    /*padding: 70px 0;*/
    padding: 0;
    background-attachment: fixed;
    background-image:url(../../assets/img/achievement-background.jpg); 
}

#achievements:before {
    background-image: url(../../assets/img/achievement-background-default.png);
    z-index: -1;
}
#achievements:after, #achievements:before {
    content: '';
    width: 100%;
    top: 0;
    height: 100%;
    /*position: relative;*/
    display: block;
}
*, :after, :before {    
    box-sizing: border-box;
}